*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --background:#ffe1d2;
    --card:#fffcf7;
    --brown:#7e4f30;
    --dark:#2b211b;
    --gold:#b58a42;
    --light:#d7c2a0;
    --border:#e7ddd0;
    --shadow:0 10px 30px rgba(0,0,0,0.8);
    --radius:18px;
    --transition:1.5s ease;
    --card-background:#f7ebd7;
}

body{
    font-family:Lora, Source Serif Pro,EB Garamond;
    background: var(--background);
    color: var(--dark);
    line-height: 1.6;
}

h1,h2,h3{
    font-family:Cormorant Garamond,Libre Baskerville;
}

h1{
    font-size: clamp(2rem, 5vw, 3.5rem);
    line-height: 1.1;
    margin-bottom: 1rem;
}

.hero-content{
    width: 100%;
    padding-top: 1rem;
}

span{
    font-family:Allura, Parisienne;
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

img{
    display: block;
    width:100%;
    height:auto;
}

/* =================
buttons
===================*/
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: clamp(10px, 1.5vw, 14px) clamp(16px, 2.5vw, 24px);
    background: var(--brown);
    color: var(--background);
    text-decoration: none;
    border-radius: var(--radius);
    box-shadow: 2px blurred warm var(--shadow);
    transition: var(--transition);
    font-size: clamp(0.9rem, 1.8vw, 1rem);
    line-height: 1.2;
    min-width: 110px;
    flex-shrink: 0;
}

.secondary{
    background: transparent;
    color: var(--dark);
    border: 1px solid rgba(75, 50, 35, 0.25);
}

.secondary:hover {
    background: var(--gold);
    color: var(--dark);
    border-color: rgba(75, 50, 35, 0.25);
}

.btn:hover{
    background: var(--gold);
    color: var(--dark);
}

/*==============
 header
 =================*/

header{
    background: var(--background);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5%;
    height: clamp(40px,60px,90px);
    z-index: 100;
    gap: 16px;
}

nav{
    flex: 1;
    display: flex;
    justify-content: center;
}

ul{
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(4px, 2vw, 10px);
    padding: 0;
    width: 100%;
    max-width: 700px;
}

li a{
    text-decoration: none;
    color: var(--dark);
    font-size: clamp(0.9rem, 1.8vw, 1rem);
    transition: var(--transition);
}

li a:hover{
    color: var(--gold);
    text-decoration:underline;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    min-width: 140px;
}

.logo img{
    width: clamp(30px,60px,90px);
    height: clamp(30px,60px,90px);
    border-radius: 10px;
    margin-left: 10px;
}

.logo p{
    font-size: clamp(0.9rem, 1.8vw, 1.3rem);
    font-weight: 700;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 0;
}

/*=====================
     Hero
 ==================*/
.hero-container{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;

    margin: 0;
    overflow: hidden;
}

.hero-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.4rem;
    width: 35%;
    height: 80vh;
    padding: 3rem 2.5rem 3rem 4rem;
    background: var(--background);
    border-radius:20px;
}

hr{
   position:relative;
   color:var(--gold);
}

.hero-image {
    position: relative;
    overflow: hidden;
    width: 65%;
    height: 90vh;
    z-index:-1;
    margin-left: -2rem;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
    transform: scale(1.03);
}

.hero-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to left,
        rgba(247, 206, 135, 0.06)0%,
        rgba(233, 188, 229, 0.2) 20%,
        rgba(243, 201, 221, 0.5) 40%,
        rgba(252, 229, 238, 0.8) 65%,
        var(--background) 100%
    );
    z-index: 2;
    pointer-events: none;
    width:105px;
    height:80%;
    padding:10% 0 5%;
}

.hero-image::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:20px;
    background:linear-gradient(to top,#f7f3ec,transparent)
}

h1{
    font-size: clamp(3rem, 5vw, 4.5rem);
    line-height: 1.08;
    margin: 0;
}

.hero-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.hero-top,
.hero-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.hero-text,
.tagline {
    line-height: 1.8;
    max-width: 36rem;
}

.handwritten{
    font-family:Allura, Parisienne;
    font-size: 4.5rem;
    color: var(--gold);
}

.tagline{
    font-size: 1.2rem;
    color: var(--dark);
    font-style: italic;
}

/*===================
cards
====================*/

.card{
    flex:1;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.08);
    background: var(--card-background);
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
    margin: 10px 0 0;
    overflow: hidden;
}

.daily{
    flex:1.2;
}

.card:hover {
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.grid{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
    align-items: stretch;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    border-bottom: 1px solid var(--border);
    justify-content: space-between;
}

.content{
    display:flex;
    flex-direction:column;
    padding: 20px 0;
}

.featured-grid {
    align-items: stretch;
}

.division {
    display:flex;
    flex:1;
    width:100%;
    margin-bottom:10px;
    gap: 10px;
    align-items: flex-start;
}

/*=========================
    Author
==========================*/

.author-image {
    max-width: 140px;
    max-height: 140px;
    flex-shrink: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-top:10px;
}

.author-image img {
    width: 100%;
    height: 100%;
    border-radius:60%;
    object-fit: cover;
}

.author-content {
    gap: 6px;
}

.author-name {
    font-size: 1.2rem;
    color: var(--brown);
    font-weight: 700;
}

.author-id {
    font-size: 0.95rem;
    color: grey;
}

.author-btn {
    margin:0 auto 10px;

}

.meta-label {
    color: grey;
    margin: 5px 0;
}

/*==============================
        ISSUE
 ===============================*/

.discover-grid > .issue,
.discover-grid > .writer-column {
    width: calc(50% - 10px);
    min-width: 280px;
}

.issue .divider {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}

.issue-one,
.issue-two,
.issue-three {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border:1px solid var(--background);
    border-radius:var(--radius);
    padding:10px;
}

.issue-one img,
.issue-two img,
.issue-three img {
    width: 100%;
    max-height:180px;
    border-radius: 12px;
    object-fit: cover;
}

.issue{
    flex:1.6;
}

.daily .division {
    align-items: stretch;
}

.daily .content {
    justify-content: space-between;
}

.daily .link {
    align-self: flex-end;
}

/*==========================================
      Writer content
=============================================*/

.writer-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}

.writer {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--dark);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 5px;
    justify-content: space-between;
    width: 100%;
    max-height: 70px;
}

.writer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    min-width: 0;
}

.writer:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.writer img {
    flex-shrink: 0;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.writer-id {
    color: grey;
}

.highlight {
    color: var(--brown);
}

/*================
 CARD Interior
 ===============*/

h2{
   position:relative;
   top:0;
   left:0;
   font-weight:500;
   border-bottom:2px solid var(--border);
   text-transform:uppercase;
   font-size:clamp(1rem,1.35rem,1.7rem);
}

h2::before{
    content:"🍂";
    padding:5px;
}

.content{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    flex-direction:column;
    align-content:stretch;
    flex-grow:1;
}

img{
    object-fit: cover;
    border-radius: 10px;
}

.image{
    width:100%;
    border-radius:var(--radius);
    margin-right:10px;
}

.link{
    color:var(--brown);
    margin-top:auto;
    align-self:flex-start;
    text-decoration: none;
}

.division > div{
    display:flex;
    flex-direction:column;
    height:100%;
    flex:1;
}

.division > img{
    flex:1;
    object-fit:cover;
    margin-top:-30px;
}

p{
    font-size:clamp(0.5,1rem,2rem);
    flex:1;
}

.memory-jar , .letter-box{
    max-height : 270px;
}

.mood{
    display:flex;
    flex-direction:column;
    border:1px solid var(--gold);
    border-radius: var(--radius);
    min-height:40px;
    max-height:80px;
    min-width:40px;
    max-width:80px;
    flex:1;
}



/*===================
    Phone Layout
====================*/

 @media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav {
        order: 3;
        width: 100%;
    }

    ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 16px;
    }

    .logo {
        width: 100%;
        justify-content: center;
        min-width: auto;
    }

    .btn {
        min-width: 100px;
        padding: 10px 14px;
    }
}


